.i-container {
    border: lightsalmon 1px solid;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}
.i-item {
    border: rgb(179, 250, 244) 1px solid;
    width: 400px;
    border-radius: 5px;
    flex: 1;
    margin: 10px;
}

.i-image-container {
    
}

.i-product-details {
    
}

#i-title {
    font-family: 'MarketSans-SemiBold-WebS';
    font-weight: 600;
    color: black;
}

#i-description {
    font-family: 'MarketSans-Regular-WebS';
    color: black;
}

#i-image {
    padding-top: 20px;
    width: 150px;

}

#i-price {
    font-weight: 600;
    font-style: italic;
    color:gray;
}