.container {
    display: grid;
    grid-template-columns: 100px 100px;
    color: black;
}

#title {
    font-family: 'MarketSans-SemiBold-WebS';
    font-weight: 600;
    color: black;
    margin-top: 15px;
}

#description {
    font-family: 'MarketSans-Regular-WebS';
    color: black;
}

.details {
    margin-left: 20px;
}

.product-div {
    display: flex;
    width: 400px; 
    margin: 20px; 
    border-radius: 10px; 
    border: black 2px solid; 
    padding: 5px; 
    text-align: center;
    border: 2px solid rgb(214, 214, 214);
    color: black;
}

#product-img {
    width: 170px;
}

#date {
    font-weight: 600;
    font-style: italic;
    color:gray;
}