{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/register.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/login.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/not_found.css' %}">
    <link rel="stylesheet" href="{% static 'auctions/product.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>SnapShop</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="font-family: 'Source Sans Pro';" href="{% url 'index' %}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Flat_tick_icon.svg" width="30" height="30" alt="" loading="lazy">
            SnapShop
        </a>        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">All Listings </a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'new-item' %}">Add Item</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in global_categories %}
                  <a class="dropdown-item" href="/category/{{ category }}">{{ category }}</a>
                {% endfor %}
              </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'active-listings' %}"> Active Listings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <form action="{% url 'my-watchlist' %}" method="POST" class="nav-link active">
                {% csrf_token %}
                <input type="hidden" name="user_name" value="{{ user }}">
                
                <div class="nav-item">
                  <input type="submit" style="border: none; background: none; color: white" value="My Watchlist">
                </div>
              </form>
            </li>

            
            {% endif %}
            
          </ul>
            {% if user.is_authenticated %}
              <form class="form-inline">
                <button class="btn btn-success btn-md" type="button" style="margin-right: 5px;">Logged in as {{ user }}</button>
                <a href="{% url 'logout' %}">
                  <button class="btn btn-secondary btn-md" type="button">Log out</button>
                </a>                
              </form>
            {% else %}
              <form class="form-inline">
                <a href="{% url 'register' %}">
                  <button class="btn btn-success btn-md" type="button" style="margin-right: 5px;">Register</button>
                </a>
                <a href="{% url 'login' %}">
                  <button class="btn btn-secondary btn-md" type="button">Log In</button>
                </a>
              </form>
            {% endif %}
        </div>
      </nav>
      {% block body %}
      {% endblock %}
</body>
</html>