{% extends "auctions/layout.html" %}

{% block body %}
<div class="login-grid-container">
  <!-- Image -->
  <img id="login-image" src="https://raw.githubusercontent.com/icarusgk/web-programming-projects/b1050343e0517d60542eaa9e56faa1d75563a42b/new-commerce/auctions/resources/login-image.svg" alt="Login Image">


  <!-- Title and Form -->
  <div id="login-title-and-form" class="mx-auto">

    <div id="login-title-container">
      <h2 id="login-title-text">Log In</h2>
    </div>

    <!-- Form -->
    <div id="login-form">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <!-- User input -->
        <div class="form-group" id="form-user-input">

          <!-- Username -->
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-4">
            <!-- @ -->
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>

            <input name="username" required autofocus type="text" class="form-control" placeholder="Username">
          </div>

          <!-- Password -->
          <div class="form-group" id="form-password-container">
            <input name="password" type="password" class="form-control" id="inputPassword4" placeholder="Password" required>
          </div>
        </div>

        <button id="form-login-button" type="submit" class="btn btn-success">Log In</button>

      </form>
    </div>

    <div id="register-prompt-container">
      <p id="register-prompt">Don't have an account yet? <br> <a href="{% url 'register' %}" class="text-decoration-none">Register here</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}