{% extends "auctions/layout.html" %}

{% block body %}

<h2 id="product-title">{{ name }}</h2>
<div class="product-grid-container">
    <div id="product-image-container">
        <img id="product-image" src="{{ image }}" alt="">
    </div>
    <div id="product-details-container">
        <p id="product-details-price">$ {{ final_bid }}</p>
        <p id="product-details-description"> {{ description }}</p>

{% if user.is_authenticated %}        
        {% if name in watchlist and user != creator %}
        <form action="{% url 'remove-watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product" value="{{ name }}">
            <input type="hidden" name="user_name" value="{{ user.username }}">
            <button type="submit" class="btn btn-danger">Remove Item to Watchlist</button>
        </form>
        {% elif name not in watchlist and user != creator %}
        <form action="{% url 'add-watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product" value="{{ name }}">
            <input type="hidden" name="user_name" value="{{ user.username }}">
            <button type="submit" class="btn btn-success">Add Item to Watchlist</button>
        </form>
        {% endif %}
{% endif %}
        
        <div id="product-bid-details-container">
            <p class="product-bid-details-text" id="product-details-uploader">Uploaded by: {{ creator }}</p>
            <p class="product-bid-details-text" id="product-details-date">On: {{ date }}</p>
            <p class="product-bid-details-text" id="product-details-initial-bid">Initial Bid was: $ {{ start_bid }}</p>
        </div>
    </div>

    <div id="product-bids-container">
        <div id="product-bid-input">
            {% if user.is_authenticated %}  
            <form action="{% url 'bid' %}" method="POST">
                {% csrf_token %}
                {% if creator == user  %}
                    <h3 class="text-info font-weight-bold">You are the lister.</h3>
                {% elif creator != user and is_active == True %}
                    <p id="product-submit-bid-title">Submit a new bid</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        {{ new_bid.new_bid }}
                        <input type="hidden" name="page_name" value="{{ name }}">
                        <input type="hidden" name="user_name" value="{{ user.username }}">
                        <button type="submit" class="btn btn-secondary">Place Bid</button>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags %}
                            <div class="p-3 mb-2 bg-success text-white" id="product-bid-success-message" style="margin-top: 15px;">
                                {{ message }}
                            </div>
                            
                            {% endif %}
                        {% endfor %}
                {% endif %}
            </form>
            {% endif %}
        
            {% if creator == user and is_active == True %}
                <form action="{% url 'remove' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="remove_button" value="{{ name }}" >
                    <input type="submit" value="Close auction" class="btn btn-danger">
                </form>
            {% elif creator == user and is_active == False and current_bids == 0 %}
                <div class="p-3 mb-2 bg-secondary text-white">You closed the auction</div>
                <p>No bid was placed</p>
            {% elif creator != user and is_active == False and current_bids == 0 %}
                <p>The auction was closed.</p>
                <p>No bid was placed</p>
            {% elif creator == user and is_active == False %}
            <div class="p-3 mb-2 bg-secondary text-white">You closed the auction</div>
                <p class="text-success font-weight-bold">'{{ last_bid_user }}' was the winner.</p>
            {% elif user == last_bid_user and is_active == False %}
                <p>The auction was closed.</p>
                <p class="text-success font-weight-bold">You won the auction</p>
            {% elif creator != user and is_active == False %}
                <p>The auction was closed.</p>
                <p class="text-success font-weight-bold">{{ last_bid_user }} was the winner.</p>
            {% endif %}            
        </div>

        <div id="product-bid-info">
            {% if not user.is_authenticated %}
                <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to place a Bid.</p>
            {% endif %}
                <hr>
             {% if current_bids == 0 and is_active == True %}
                    <p id="product-bid-current" class="product-bid-info-text">There are no current bids for this products.</p>
                {% elif current_bids == 1 and is_active == True %}
                    <p id="product-bid-current" class="product-bid-info-text">There is {{ current_bids }} bid for this product</p>
                    <p id="product-bid-last-user">The last bid was made by: {{ last_bid_user }}</p>
                {% elif current_bids > 1 and is_active == True %}
                    <p id="product-bid-current" class="product-bid-info-text">There are {{ current_bids }} bids for this product</p>
                    <p id="product-bid-last-user">The last bid was made by: {{ last_bid_user }}</p>
                {% elif current_bids == 1 and is_active == False %}
                    <p id="product-bid-current" class="product-bid-info-text">There was {{ current_bids }} bid for this product</p>
                    <p id="product-bid-last-user">The last bid was made by: {{ last_bid_user }}</p>
                {% elif current_bids > 1 and is_active == False %}
                    <p id="product-bid-current" class="product-bid-info-text">There were {{ current_bids }} bids for this product</p>
                    <p id="product-bid-last-user">The last bid was made by: {{ last_bid_user }}</p>
                {% endif %}    
        </div>

        <div id="product-categories-container">
            <h2 class="font-weight-bold">Categories</h2>
            <div id="product-categories">
                {% for category in categories %}
                    <a href="../category/{{category}}"><button type="button" class="btn btn-info btn-sm">{{category}}</button></a>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<hr>

<h1 id="comments-title" class="font-weight-bold">Comments ({{ number_of_comments }})</h1>

<div class="product-comment-grid-main-container">
    
    <div class="product-comment-grid-container">
        {% for comment in comments %}
        <div class="product-comment-image-container">
            <img class="product-comment-image" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg">
            <p class=product-comment-user>{{comment.0}}</p>
        </div>
        <div class="product-comment-text-container">
            <p>commented: <br>
            "{{comment.1}}"</p>
            <p>On {{comment.2}}</p>
        </div>
        {% endfor %}
    </div>
    
{% if user.is_authenticated %}
<div id="product-comment-input-container">
    <h3>Add a new comment</h3>
    
    <form action="{% url 'comment' %}" method="POST">
        {% csrf_token %}
        {{comment_input_textarea}}
        <input type="hidden" name="page_name" value="{{ name }}">
        <input type="hidden" name="user_name" value="{{ user.username }}">
        <input id="product-comment-submit"  style="float: right;" type="submit" value="Add Comment" class="btn btn-primary">
    </form>
   
</div>
{% endif %}

    
</div>


{% else %}


<div id="not-found-container">
    <img id="not-found-image" src="https://raw.githubusercontent.com/icarusgk/web-programming-projects/b5766c2bd68758abf07a1ce08a0a9b8551ca5c02/new-commerce/auctions/resources/not-found.svg" >
    <div id="not-found-text">
        <h4 id="not-found-heading">Error</h4>
        <p>Page Not Found!</p>
    </div>
</div>


{% endif %}



{% endblock %}