{% extends "auctions/layout.html" %}

{% block body %}
{% if name %}
<h2 id="product-title">{{ name }}</h2>
<div class="product-grid-container">
    <div id="product-image-container">
        <img id="product-image" src="{{ image }}" alt="">
    </div>
    <div id="product-details-container">
        <p id="product-details-price">$ {{ final_bid }}</p>
        <p id="product-details-description"> {{ description }}</p>

        {% if name in watchlist and user != creator %}
        <form action="{% url 'remove-watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product" value="{{ name }}">
            <input type="hidden" name="user_name" value="{{ user.username }}">
            <button type="submit" class="btn btn-danger">Remove Item to Watchlist</button>
        </form>
        {% elif name not in watchlist and user != creator %}
        <form action="{% url 'add-watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product" value="{{ name }}">
            <input type="hidden" name="user_name" value="{{ user.username }}">
            <button type="submit" class="btn btn-success">Add Item to Watchlist</button>
        </form>
        {% endif %}
        
        <div id="product-bid-details-container">
            <p class="product-bid-details-text" id="product-details-uploader">Uploaded by: {{ creator }}</p>
            <p class="product-bid-details-text" id="product-details-date">On: {{ date }}</p>
            <p class="product-bid-details-text" id="product-details-initial-bid">Initial Bid was: $ {{ start_bid }}</p>
        </div>
    </div>
    <div id="product-bids-container">
        <div id="product-bid-input">
            <form action="{% url 'bid' %}" method="POST">
                {% csrf_token %}
                {% if creator == user  %}
                    You are the lister.
                {% elif creator != user and is_active == True %}
                    <p>Submit a new bid</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        {{ new_bid.new_bid }}
                        <input type="hidden" name="page_name" value="{{ name }}">
                        <input type="hidden" name="user_name" value="{{ user.username }}">
                        <button type="submit" class="btn btn-secondary">Place Bid</button>
                    </div>
                {% endif %}
            </form>            
        </div>

        <div id="product-bid-info">
            <p class="product-bid-info-text" id="product-bid-current">There are currently <strong>{{ current_bids }} bids</strong> for this product</p>
            <p class="product-bid-info-text" id="product-bid-last-user">The last bid was made by <strong>{{ last_bid_user }}</strong></p>
        </div>

        <div id="product-categories-container">
            <h2>Categories</h2>
            <div id="product-categories">
                {% for category in categories %}
                    <a href="../category/{{category}}"><button type="button" class="btn btn-primary btn-sm">{{category}}</button></a>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<hr>

<h1 id="comments-title">Comments</h1>

<div class="product-comment-grid-main-container">
    
    <div class="product-comment-grid-container">
        {% for comment in comments %}
        <div class="product-comment-image-container">
            <img class="product-comment-image" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg">
            <p class=product-comment-user>{{comment.0}}</p>
        </div>
        <div class="product-comment-text-container">
            <p>commented: <br>
            "{{comment.1}}"</p>
            <p>On {{comment.2}}</p>
        </div>
        {% endfor %}
    </div>
    


<div id="product-comment-input-container">
    <h3>Add a new comment</h3>
    {% if user.is_authenticated %}
    <form action="{% url 'comment' %}" method="POST">
        {% csrf_token %}
        <textarea name="comment_body" id="" cols="40" rows="10"></textarea>
        <input type="hidden" name="page_name" value="{{ name }}">
        <input type="hidden" name="user_name" value="{{ user.username }}">
        <input type="submit" value="Add Comment" class="btn btn-primary">
    </form>
    {% endif %}
    
</div>

    
</div>


{% else %}


<div id="not-found-container">
    <img id="not-found-image" src="https://raw.githubusercontent.com/icarusgk/web-programming-projects/b5766c2bd68758abf07a1ce08a0a9b8551ca5c02/new-commerce/auctions/resources/not-found.svg" >
    <div id="not-found-text">
        <h4 id="not-found-heading">Error</h4>
        <p>Page Not Found!</p>
    </div>
</div>


{% endif %}



{% endblock %}