{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Watchlist</h2>
    {% if product %}
        {{ product }} has been removed from your watchlist.
    {% endif %}
   
    {% for product in watchlist %}
        <a href="../product/{{product.product_name}}">
            {{product.product_name}}
        </a> 
        {% if product.is_active == False %}
            - This auction was closed
        {% endif %}
        -
        {{product.description}} <br>
    {% empty %}
        <p>You do not have items in your watchlist</p>
        <a href="{% url 'active-listings' %}">See Active Listings</a>
    {% endfor %}
    {% if message %}
        {{ message }}
    {% endif %}
{% endblock %}