{% extends "auctions/layout.html" %}

{% block body %}
    <p id="watchlist-title">My Watchlist</p>
    {% if product %}
        <div id="category-empty-container">
            <img src="https://cdn.onlinewebfonts.com/svg/img_412721.png" width="100px">
            <h3 style="margin-top: 30px; font-weight: bolder;">{{ product }} has been removed from your watchlist.</h3>
        </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3">

        {% for product in watchlist %}
        <div class="col mb-4">
            <div class="card">
                <img src="{{ product.image_url}}" alt="..." class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"> {{ product.product_name }} </h5>
                    <p class="card-text">{{product.description}}</p>
                    <a href="../product/{{product.product_name}}" class="btn btn-primary">View Item</a>
                </div>
                
                {% if product.is_active == False %}
                    - This auction was closed
                {% endif %}
            </div>
        </div>
            {% endfor %}
        
    </div>

    {% if message %}
        {{ message }}
    {% endif %}
{% endblock %}