{% extends "auctions/layout.html" %}

{% block body %}
    {% if name %}
    <p id="p-title">{{name}}</p>  
    <div id="p-container"> 
        
        <img src="{{image}}" id="p-image">
        <div id="details">
            <p id="p-final-bid">$ {{ final_bid }}</p>
            <p id="p-description">{{ description }}</p>
            <p id="p-user">Uploaded by: {{ bid_user }}</p> 
            <p id="p-date">On: {{date}}</p>
            <p id="p-initial-bid">Initial Bid was: $ {{ start_bid }}</p>
            
            <form action="{% url 'bid' %}" method="POST">
                {% csrf_token %}
                <p>Submit a new bid:</p>
                {{ new_bid.new_bid }}
                <input type="hidden" name="page_name" value="{{ name }}">
                <input type="hidden" name="user_name" value="{{ user.username }}">
                <input type="submit" value="Place bid" id="submit-bid">
            </form>
            {% if current_bids == 1 %}
            <p id="p-current-bids">There is {{ current_bids }} bid for this product</p>
            {% else %}
            <p id="p-current-bids">There are {{ current_bids }} bids for this product</p>
            {% endif %}

            {% if is_active == True %}
                <form action="{% url 'remove' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="remove_button" value="{{ name }}" >
                    <input type="submit" value="Close auction" id="close-auction">
                </form>
            {% else %}
                <p>This bid is closed</p>
            {% endif %}
        </div>
    </div>
    <hr>
    <h4 id="p-comments">Comments</h4>
    {% if user.is_authenticated %}
        <form action="{% url 'comment' %}" method="POST">
            {% csrf_token %}
            {{comment}} <br>
            <input type="hidden" name="page_name" value="{{ name }}">
            <input type="hidden" name="user_name" value="{{ user.username }}">
            <input type="submit" value="Add Comment">
        </form>
        <hr>
        {% for comment in comments %}
            <div class="comment-body">
                <p class="p-user">icarus says:</p>
                <p class="p-comment-body">{{ comment.body }}</p>
            </div>
                {% empty %}
                <p class="p-comment-body">No comments</p>
        {% endfor %}
    {% else %}
        {% for comment in comments %}
        <div class="comment-body">
            <p class="p-user">icarus says:</p>
            <p class="p-comment-body">{{ comment.body }}</p>
        </div>
            {% empty %}
            <p class="p-comment-body">No comments</p>
        {% endfor %}
    {% endif %}
    {% else %}
        {{error}}
    {% endif %}

    

{% endblock %}