{% extends "auctions/layout.html" %}

{% block body %}
    {% if name %}
    <p id="p-title">{{name}}</p>  
    <div id="p-container"> 
        
        <img src="{{image}}" id="p-image">
        <div id="details">
            <p id="p-final-bid">$ {{ final_bid }}</p>
            <p id="p-description">{{ description }}</p>
            <p id="p-user">Uploaded by: {{ bid_user }}</p> 
            <p id="p-date">On: {{date}}</p>
            <p>Categories:</p>
            {% for category in categories %}
                 <a href="../category/{{category}}"> {{category}}</a> 
            {% endfor %}  
            <p id="p-initial-bid">Initial Bid was: $ {{ start_bid }}</p>
            
            {% if user.is_authenticated %}
            <form action="{% url 'bid' %}" method="POST">
                {% csrf_token %}
                {% if bid_user == user  %}
                    You are the lister.
                    <form action="{% url 'remove-watchlist' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ name }}">
                        <input type="hidden" name="user_name" value="{{ user.username }}">
                        <input type="submit" value="Remove item to watchlist" style="color: white; background: red;">
                    </form>
                {% elif bid_user != user and is_active == True %}
                    <p>Submit a new bid:</p>
                        {{ new_bid.new_bid }}
                        <input type="hidden" name="page_name" value="{{ name }}">
                        <input type="hidden" name="user_name" value="{{ user.username }}">
                        <input type="submit" value="Place bid" id="submit-bid">
                </form>
                
                {% if name not in watchlist %}
                    <form action="{% url 'add-watchlist' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ name }}">
                        <input type="hidden" name="user_name" value="{{ user.username }}">
                        <input type="submit" value="Add item to watchlist">
                    </form>
                {% endif %}
                
            {% endif %}
            
            {% else %}
            <p>To place a bid please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></p>
            {% endif %}
            
                {% if current_bids == 0 and is_active == True %}
                    <p id="p-current-bids">There are no current bids for this products.</p>
                {% elif current_bids == 1 and is_active == True %}
                    <p id="p-current-bids">There is {{ current_bids }} bid for this product</p>
                    <p>The last bid was made by: {{ last_bid_user }}</p>
                {% elif current_bids > 1 and is_active == True %}
                    <p id="p-current-bids">There are {{ current_bids }} bids for this product</p>
                    <p>The last bid was made by: {{ last_bid_user }}</p>
                {% elif current_bids == 1 and is_active == False %}
                    <p id="p-current-bids">There was {{ current_bids }} bid for this product</p>
                    <p>The last bid was made by: {{ last_bid_user }}</p>
                {% elif current_bids > 1 and is_active == False %}
                    <p id="p-current-bids">There were {{ current_bids }} bid for this product</p>
                    <p>The last bid was made by: {{ last_bid_user }}</p>
                {% endif %}    

            {% if bid_user == user and is_active == True %}
                <form action="{% url 'remove' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="remove_button" value="{{ name }}" >
                    <input type="submit" value="Close auction" id="close-auction">
                </form>
            {% elif bid_user == user and is_active == False and current_bids == 0 %}
                <p>You closed the auction.</p>
                <p>No bid was placed</p>
            {% elif bid_user != user and is_active == False and current_bids == 0 %}
                <p>The auction was closed.</p>
                <p>No bid was placed</p>
            {% elif bid_user == user and is_active == False %}
                <p>You closed the auction</p>
                <p style="color: green;">{{ last_bid_user }} was the winner.</p>

            {% elif bid_user != user and is_active == False %}
                <p>The auction was closed.</p>
                <p style="color: green;">{{ last_bid_user }} was the winner.</p>
            {% endif %}

        </div>
    </div>
    <hr>
    <h4 id="p-comments">Comments</h4>
    {% if user.is_authenticated %}
        <form action="{% url 'comment' %}" method="POST">
            {% csrf_token %}
            {{comment}} <br>
            <input type="hidden" name="page_name" value="{{ name }}">
            <input type="hidden" name="user_name" value="{{ user.username }}">
            <input type="submit" value="Add Comment">
        </form>
        <hr>
        {% for comment in comments %}
            <div class="comment-body">
                {% if bid_user == comment.0 %}
                    <p class="p-user-lister">{{ comment.0 }} (Lister) says:</p>
                {% else %}
                    <p class="p-user">{{ comment.0 }} says:</p>
                {% endif %}
                <p class="p-comment-body">{{ comment.1 }}</p>
            </div>
                {% empty %}
                <p class="p-comment-body">No comments</p>
        {% endfor %}
    {% else %}
        {% for comment in comments %}
        <div class="comment-body">
            {% if bid_user == comment.0 %}
                <p class="p-user-lister">{{ comment.0 }} (Lister) says:</p>
            {% else %}
                <p class="p-user">{{ comment.0 }} says:</p>
            {% endif %}
            <p class="p-comment-body">{{ comment.1 }}</p>
        </div>
            {% empty %}
            <p class="p-comment-body">No comments</p>
        {% endfor %}
    {% endif %}
    {% else %}
        {{ error }}
    {% endif %}

    

{% endblock %}