{% extends "auctions/layout.html" %}

{% block body %}
    <div class="i-container">
    {% for product in products %}
        <div class="i-item">
            <a href="product/{{product.0}}">  
            <div class="i-image-container">
                <img src="{{product.2}}" id="i-image"> <br>  
            </div>

            <div class="i-product-details">
                <h4 id="i-title">{{ product.0 }}</h4><br>
                <p id="i-description">{{ product.1 }}</p> 
                <p id="i-price">${{ product.3 }}</p>
                {% if product.4 == True %}
                    <p style="color: lightgreen;">Active</p>
                {% else %}
                    <p style="color: lightsalmon;">Closed</p>
                {% endif %}
            </div>     
            </a>    
        </div>        
    {% endfor %}
    </div>
{% endblock %}