html{
	font-family: Arial, Helvetica, sans-serif;
}
#header {
  padding: 10px;
  background: white;
	color: white;
	min-width: 181px;
	flex: 1 1 auto;
	position: relative;
	text-align: right;
	padding-left: 30px;
	padding-right: 30px;
}
.header-items{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
}

.upper-links:link{
	text-decoration: none;
	padding-right: 10px;
}

.upper-links:hover{
	text-decoration: underline;
}

#search-body {
  margin: auto;
  text-align: center;
}

#main-image {
  display: block;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 90px;
  width: 350px;
  text-align: center;
  background-color: red;
}

#search-bar {
  margin: 0 auto;
  display: flex;
  height: 44px;
  box-shadow: none;
  border: 1px solid #dfe1e5;
  width: 580px;
  border-radius: 24px;
  text-align: center;
  background-color: white;
}

#search-icon {
  margin: 12px;
}

#search-field {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  display: flex;
  font-size:16px;
  flex: 100%;
}

.search-btn {
  color: rgb(117, 117, 117);
  font-size: 16px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  cursor: pointer;
  height: 36px;
  border: 1px solid #f2f2f2;
	border-radius: 4px;
	margin-top: 20px;
}

.search-btn:hover{
	color: black;
	border: 0.5px solid rgb(184, 184, 184);
	box-shadow: gray;
}

.search-btn:active{
	border: 0.5px blue;
	border-style: solid 0.5px;
}